<h2>Edit User</h2>
<form action="/users/<%=user.id%>/edit" method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="<%= user.username %>"">
    </div>
    <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>"">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>"">
    </div>
    <div>
        <a href="/users/<%=user.id%>">Cancel</a>
        <button type="submit">Edit</button>
    </div>
</form>
