<div class="profile-page">
    <div class="profile-username">
        <h2><%= viewUser.firstName + " " + viewUser.lastName%></h2>
        <h4><%= viewUser.username %></h4>
    </div>
    <div class="profile-details">
        <div class="profile-pic">
            <img height="150" width="100" src="<%= viewUser.profileImagePath%>">
        </div>
        <div>
            <div class="profile-follow">
                <div>
                    <h4><%= viewUser.numFollowers%></h4>
                    <h4>Follower</h4>
                </div>
                <div>
                    <h4><%= viewUser.follows.length%></h4>
                    <h4>Following</h4>
                </div>
            </div>
            <div class="profile-action">
                <% if(followStatus) {%>
                    <a href="/users/follow/<%=viewUser.id%>">Following</a>
                <% } else {%>
                    <a href="/users/follow/<%=viewUser.id%>">Follow</a>
                <% }%>
            </div>
            <h4>Easy games W/L: <%= viewUser.gamesWon[0] + '/' + (viewUser.gamesPlayed[0] - viewUser.gamesWon[0])%></h4>
            <h4>Medium games W/L: <%= viewUser.gamesWon[1] + '/' + (viewUser.gamesPlayed[1] - viewUser.gamesWon[1])%></h4>
            <h4>Hard games W/L: <%= viewUser.gamesWon[2] + '/' + (viewUser.gamesPlayed[2] - viewUser.gamesWon[2])%></h4>
            <h4>Very Hard games W/L: <%= viewUser.gamesWon[3] + '/' + (viewUser.gamesPlayed[3] - viewUser.gamesWon[3])%></h4>
            <h4>Total number of games played: 
                <% let sum = 0%>
                <% for(let i = 0; i < 4; i++) {%>
                    <% sum += viewUser.gamesPlayed[i]%>
                <% }%>
                <%= sum %>
            </h4>
            <h4>Percentage of games won: 
                <% let winSum = 0%>
                <% for(let i = 0; i < 4; i++) {%>
                    <% winSum += viewUser.gamesWon[i]%>
                <% }%>
                <%= sum === 0 ? '0%' : ((winSum / sum) * 100).toFixed(2) + '%' %>
            </h4>
        </div>
    </div>
</div>
